<ul class="nav navbar-nav navbar-right navigation" id="menu">
{% for item in bmd_main_menu %}
	<li><a title=" {{ item.title }}" 
		href="{% if not is_home and item.href.0 == '#' %}/{% endif %}{{ item.href}}" 
		class="brand-2{% if item.href.0 == '#' %} scroll fadeto{% endif %}"
		{% if item.href.0 == '#' %}
			data-toggle="collapse" data-target=".navbar-responsive-collapse"
		{% endif %}>
			{{ item.txt }}
	</a></li>
{% endfor %}
</ul>