<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-pills menu-nav">
		{% if specials %}
			<li><a href="#menu-specials">Specials</a></li>
		{% endif %}
		{% for categorized_item in categorized_items %}
			{% if categorized_item.items %}
				{% if categorized_item.cat %}
				<li><a class="scroll" href="#{{ categorized_item.cat.id }}">{{ categorized_item.cat.name }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>