{% load mezzanine_tags thumbnail %}
<div class="modal-dialog">
	<div class="modal-content color-4">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title" id="myModalLabel">{{ item.title }}</h4>
	  </div>
	  <div class="modal-body">
	    {% if item.image %}
		<img src="{% thumbnail item.image imgsize crop %}" alt="image of {{ item.name }}" title="{{ item.name }}">
		{% else %}
		<img src="/static/common/images/no-image.png" alt="no image available" title="no image available">
		{% endif %}

		<h4>{% if special %}<i class="icon-star-empty"></i>{% endif %}{{ item.title }}</h4>
		<div>
			{{ item.description|safe }}
		</div>
		{% if item.price %}
		<p><strong>${{ item.price|floatformat:2 }}</strong> / {{ item.unit }}</p>
		{% endif %}
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
