{% regroup items by category.name as cat_item_list %}
{% for item_list in cat_item_list %}

	{% if cat %}
	<h3>{{ item_list.grouper }}</h3>
	{% endif %}

	<ul class="thumbnails">
		{% for item in item_list.list %}
			<li class="span2">
				<div class="thumbnail">
					{% include "partials/menuitem.html" with imgsize="270x200" shorttext=True %}
				</div>
			</li>
			<!-- Modal -->
			<div id="item{{ item.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">{{ item.name }}</h3>
				</div>
				<div class="modal-body">
					<!-- load body via ajax -->
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>
		{% endfor %}
	</ul>
{% endfor %}