{% load mezzanine_tags thumbnail %}
<!-- menuitem -->

{% if item.image %}

{# <img src="{{ item.get_image }}" alt="image of {{ item.name }}" title="{{ item.name }}"> #}
<img src="{% thumbnail item.image imgsize crop %}" alt="image of {{ item.name }}" title="{{ item.name }}">
{% else %}
<img src="/static/common/images/no-image.png" alt="no image available" title="no image available">
{% endif %}
<div class="item">
<h4 class="title{% if item.signature_item %} signature{% endif %}">{% if special %}<i class="icon-star-empty"></i>&nbsp;{% endif %}{{ item.title }}</h4>
<div>
	<p>
	{{ item.description|safe|truncatewords:bmd_menu_item_truncate }}
	</p>
	{% if item.menuitemprice_set.all %}
		{% include "partials/menuitem-prices.html" with prices=item.menuitemprice_set.all %}
	{% endif %}
	<button data-remote="/menu/partials/{% if special %}special{% else %}menu{% endif %}/{{ item.pk }}/" role="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#item{{ item.pk }}">more</button>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="item{{ item.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->
<!-- /menuitem -->