<div id="menu" class="page color-4">
    <div class="inner-page">
    <div class="row">
      <div class="col-sm-6">
        <p class="signature"><small>Bake My Day Signature Item</small></p>
      </div>
      {% if download_items %}
      <div class="col-sm-6">
        <div class="download_links">
          {% for item in download_items %}
            <a class="btn btn-info" 
              href="{{ item.url }}"
              target="_blank"
              >
              {% if item.icon_class %}
              <span class="{{ item.icon_class }}"></span>
              {% endif %}{{ item.title }}
            </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% for categorized_item in items %}
  {% cycle 'color-1' 'color-4' as page_color silent %}
  {% if categorized_item.items %}
  <div id="{{ categorized_item.cat.id }}" class="page {{ page_color }}">
      <div class="inner-page">
        <div class="menu clearfix">
        {% if categorized_item.cat %}
        <h3>{{ categorized_item.cat.name }}</h3>
        {% endif %}
        <div class="row">
        {% for item in categorized_item.items %}
          {% if forloop.counter0|divisibleby:"4" %}
          <div class="row">
          {% endif %}
          <div class="col-sm-3">
            <div class="thumbnail color-4">
              {% include "partials/menuitem.html" with imgsize="320x240" shorttext=True %}
            </div>
          </div>
          {% if forloop.last or forloop.counter|divisibleby:"4" %}
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}