{% load mezzanine_tags thumbnail %}
<!-- menuitem-list -->

{% if item.image %}
<a class="pull-left" href="#" data-remote="/menu/partials/{{ item.pk }}/" role="button" data-toggle="modal" data-target="#item{{ item.pk }}">
	<img src="{% thumbnail item.image imgsize crop %}" alt="image of {{ item.name }}" class="media-object" title="{{ item.name }}">
</a>
{% else %}
<a class="pull-left" href="#" data-remote="/menu/partials/{{ item.pk }}/" role="button" data-toggle="modal" data-target="#item{{ item.pk }}">
	<img src="/static/common/images/no-image.png">
</a>
{% endif %}

<div class="media-body">
    <h4 class="media-heading">
		{% if item.special %}<i class="icon-star-empty"></i>{% endif %}{{ item.name }}
    </h4>
    {% if shorttext %}
		{{ item.description|safe|truncatewords:10 }}
	{% else %}
		{{ item.description|safe }}
	{% endif %}
	{% if item.prices.all %}
		{% include "partials/menuitem-prices.html" with prices=item.menuitemprice_set.all %}
	{% endif %}
</div>
<!-- /menuitem-list -->