{% for price in prices %}
	{% if price.price %}
	<p>
		{% if price.desc %}{{ price.desc }}&nbsp;{% endif %}
		<strong>${{ price.price|floatformat:2 }}</strong>
		{% if price.unit %} / {{ price.unit }}{% endif %}
	</p>
	{% endif %}
{% endfor %}