{% extends "pages/page.html" %}

{% block main %}
<div id="home" class="page color-1">
  <div class="container">
    <div class="inner-page">
      <h1 class="page-headline large">We're Sorry!</h1>
      <h2>We're busy baking and we can't find what you are looking for</h2>
      <p><a href="/">Try going back to the homepage.</a></p>
    </div>
  </div>
</div>
{% endblock %}