{% extends "pages/page.html" %}

{% block main %}
<div id="home" class="page color-1">
  <div class="container">
    <div class="inner-page">
      <h1 class="page-headline large">Wow!</h1>
      <h2>Something went really wrong there!</h2>
      <p>We'll have that fixed shortly.</p>
      <p><a href="/">Try going back to the homepage.</a></p>
    </div>
  </div>
</div>
{% endblock %}