// BEGIN THEME
// -----------

// Tweak your current theme here, or comment-out the predefined theme from settings
// and start fresh below.

// Import custom variables
@import "config.less";
@import "bootstrap/mixins.less";

// [class^="icon-"] {
// 	color: @BMDBlue;
// }

// // don't need modal activation buttons in the modal!
// // see menu/templates/partials/menuitem.html 
// .modal-body a[data-toggle="modal"] {
// 	display: none;
// }

.modal-body h4 {
  display: none;
}

// // ADMIN

// .editable-highlight {
//   border: 2px solid @BMDBlue !important;
// }

// .editable-form {
// 	position: absolute !important;
// 	top: 20px;
// 	left: 20px;
// }

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}

.download_links {
  .pull-right();
  margin-bottom: 20px;
}

.btn-info {
  background: #333;
}

// /* Global */
// /* -------------------------------------------------- */

body {
  font-family: @sans-Font-Family;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
}

#home {
  padding: 0;
}

#page-content {
  padding: 79px 0 0 0;
}

body, textarea:focus, input:focus{
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  width: 100%;
}

// /* Remove horizontal scrollbar */

// html {
//   overflow-x: hidden;
// }

/* Selection color */

::selection {
  background: darken(@color-1, 10%);
  color: #ffffff;
}

::-moz-selection {
  background: darken(@color-1, 10%);
  color: #ffffff;
}


// /* Useful classes */

// .centered {
//   margin: 0 auto;
//   display:block;
// }

// .border {
//   border: 1px solid @border-color;
// }


// .thumbnails .row {
//   margin-bottom: 30px;
// }

a.logo {
  padding: 0;
  margin: 0;
  // float: left;
  // a {
    display: block;
    background: url(/static/img/BMD-logo-web.png) no-repeat left top;
    width: 342px;
    height: 65px;
    text-indent: -9999px;
    margin: 7px 0 0 10px;
  // }
}

p.phone {
  margin: 10px 0 0 0;
  a {
    color: lighten(@color-1, 10%);
    padding: 10px 5px;
    &:hover {
      color: #FFF !important;
    }
  }
}

.page {
  padding-top: 0;
}

.inner-page {
  padding: 30px;
}

.navbar {
  .navbar-nav {
    margin-top: 8px;
    li a {
      padding: 6px 15px;
    }
  }
  height: 79px;
}

.navbar-default {
  .navbar-toggle {
    border-color: lighten(@color-5, 30%);
    .icon-bar {
      background: lighten(@color-5, 40%);
    }
  }
}

#editable-toolbar, .editable-highlight, .editable-link {
    z-index: 5000 !important;
}

// #about .content p {
//   font-size: 20px;
//   line-height: 28px;
// }

.gallery {
  margin-top: 0;
  ul {
    margin-bottom: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
}

.thumbnail {
  margin-bottom: 1em;
}

// .page:before { 
//   display: block; 
//   content: " "; 
//   margin-top: -50px; 
//   height: 50px; 
//   visibility: hidden;
//   -webkit-background-clip:content-box;
//   background-clip:content-box;
// }

.page { 
  padding-top: 60px; 
  margin-top: -60px; 
  -webkit-background-clip:content-box;
  background-clip:content-box;
}



// .news, .contact {
//   .btn {
//     margin-top: 0;
//   }
// }

// .news {
//   .media {
//     margin-top: 0;
//   }
//   .pull-left {
//     margin-right: 15px;
//   }
// }

// .contact-info h4 {
//   margin-bottom: 10px;
// }

.btn-default {
  background-color: @btn-default-bg;
  &:hover {
    background-color: lighten(@btn-default-bg, 20%);
  }
}

.btn-map {
  z-index: 100000;
}

h1, h2, h3 {
  margin-top: 0;
  &.news-title {
    margin-top: 20px;
  }
}

.color-1 {
  h3 {
    font-weight: bold;
  }
  a {
    color: #1F627F;
    &:hover {
      color: #2E92BD;
    }
  }
  a.btn {
    color: #FFF;
  }
}

.color-2 {
  h2, label {
    color: #1F627F;
  }
}

.nav-pills > li > a {
  border-radius: 0;
  padding: 5px 10px;
  color: #FFF;
}

.nav > li > a:hover {
  color: #333;
}

// .carousel-inner {
//   height: 380px;
// }

.carousel-control {
  font-size: 100px;
}

.carousel-indicators {
  bottom: 10px;
}

.contact-info ul,
.big-list {
  padding-left: 0;
}

.big-list {
  li {
    height: 60px;
    line-height: 26px;
  }
  &.menu {
    a:link, a:visited {
      color: #FFF;
    }
    a:hover {
      color: #1F627F;
    }
  }
}

.contact .helptext {
  display: none;
}

.featured-image.pull-left {
  margin-right: 40px;
}

.more-news-btn {
  margin-top: 20px;
}

.addy {
  margin-top: 20px;
}

input[type='submit'] {
  margin-top: 20px;
}


// PAGES

.menu .row {
  margin-bottom: 20px;
}

.signature {
  background: url(/static/img/sparkle.png) left top no-repeat;
  padding-left: 36px;
  min-height: 36px;
  margin-bottom: 0;
}

footer {
  padding: 0 !important;
}

footer p {
  margin-top: 0;
}

@media (max-width: 979px) { 
    a.logo {
    width: 280px;
    height: 49px;
    background-size: 280px;
    margin-top: 10px;
    margin-bottom: 9px;
  }
  .navbar {
    height: auto;
    min-height: 79px;
  }
  .navbar {
    .navbar-nav {
      margin-top: 25px;
      > li > a {
        padding: 8px 10px;
      }
    }
  }
  .big-list.menu {
    .media-object {
      width: 50px;
      height: 50px;
    }
    .media-heading {
      font-size: 20px;
    }
  }
  .figurette {
    padding-top: 0;
  }
  .features.list-inline li {
    margin-bottom: 40px;
  }
  // .carousel-inner {
  //   height: 300px;
  // }
}

@media (max-width: 768px) {
  // body {
  //   padding-top: 0;
  // }
  h1.logo {
    float: none;
  }
  // #home {
  //   margin-top: 68px;
  // }
  .navbar .navbar-nav {
    margin-top: 0;
    > li > a {
      padding: 8px 6px;
    }
  }
  .nav-collapse {
    .navbar-nav {
      float: none;
    }
  }
  .inner-page {
    padding: 20px 10px !important;
  }

  .map {
    margin-top: 40px;
  }
  // .carousel-inner {
  //   height: 100%;
  // }

  .download_links {
    .pull-left();
  }

}

@media (min-width: 769px) {
  #primary-menu {
    .pull-right();
  }
}