{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/jquery.tools.toolbox.expose.js" %}"></script>
<script src="{% static "mezzanine/js/jquery.tools.overlay.js" %}"></script>
<script src="{% static "mezzanine/js/gallery.js" %}"></script>
{% endblock %}

{% block main %}
{{ block.super }}

<div class="container thumbnails gallery clearfix">
	{% with page.gallery.images.all as images %}
	{% for image in images %}
	<div class="col-xs-4 col-md-2">
	    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ MEDIA_URL }}{{ image.file }}">
	        <img class="image-overlay-thumb" src="{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}">
	    </a>
	    <div id="image-{{ image.id }}" class="image-overlay" style="display:none;">
	        <a href="#" class="image-overlay-prev">&larr;</a>
	        <a href="#" class="image-overlay-next">&rarr;</a>
	        <img class="image-overlay-full" src="{{ MEDIA_URL }}{% thumbnail image.file 0 600 %}"><br>
	        <p>{{ image.description }}<br>{{ forloop.counter }} / {{ images|length }}</p>
	    </div>
	</div>
	{% endfor %}
	{% endwith %}
</div>

{% endblock %}

