{% extends "pages/page.html" %}

{% block title %}{% endblock %}

{% block main %}
<!--
This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.
-->

<!-- Home Page -->
<div id="home" class="page color-1">
  <div class="container">
    <div class="inner-page">
      {% comment %}
      {% if bmd_phone.0 %}
      <p class="phone text-right"><a href="tel:{{ bmd_phone.1 }}"><i class="icon-phone"></i> {{ bmd_phone.0 }}</a></p>
      {% endif %}
      {% endcomment %}
      <h1 class="page-headline large">{{ settings.SITE_TAGLINE|safe }}</h1>
    </div>
    <div class="row inner-page">
      <div class="col-md-4">
        {% include "menu-teaser.html" %}
      </div>
      <div class="col-md-8 carousel">
        {% include "carousel.html" %}
      </div>
    </div>
  </div>
</div>

<!-- Micro Gallery -->
<div class="gallery color-2">
  <div class="container">
    <div class="inner-page">
      <div class="col-sm-12">
        {% include "gallery-teaser.html" %}
      </div>
    </div>
  </div>
</div>

<!-- Specials -->
{% if specials %}
<div id="specials" class="page color-4">
  <div class="inner-page">
    <h2 class="page-headline">Seasonal Offerings</h2>
    {% include "specials-teaser.html" %}
  </div>
</div>
{% endif %}

<!-- News page -->
{% if posts %}
<div id="news" class="page color-1 news">
  <div class="row inner-page">
    <h2 class="page-headline">What we're up to</h2>
    {% include "news-teaser.html" %}
  </div>
</div>
{% endif %}

<!-- About -->
{% if about_page %}
<div id="about" class="page color-4">
  {% include "about.html" %}
  <!-- Team -->
  {% comment %}
  <hr>
  <div class="row inner-page team">
    {% include "the-team.html" %}
  </div>
  {% endcomment %}
</div>
{% endif %}

<!-- Contact Us -->
<div id="contact" class="page color-2">
  <div class="row inner-page contact">
    <h2 class="page-headline">Get in touch and stay updated</h2>
    <div class="col-sm-6 contact-form">
      {% include "contact-form.html" %}
    </div>
    <div class="col-sm-6 map">
      {% include "map.html" %}
    </div>
  </div>
</div>

<div class="color-1">
  <div class="inner-page row contact-info">
    <div class="col-sm-6">
      {% include "contact-info.html" %}
    </div>
    <div class="col-sm-6">
      {% include "hours.html" %}
    </div>
  </div>
</div>

{% endblock %}
