{% extends "pages/page.html" %}

{% block title %}{% endblock %}

{% block main %}

<div id="specials" class="page color-1">
  <div class="inner-page">
    <h2 class="page-headline">{{ page.title }}</h2>
    {% if categorized_items %}{% include "pages/menus/menu-submenu.html" %}{% endif %}
  </div>
</div>
{% if specials %}
<div id="menu-specials" class="page color-4 specials clearfix">
  <div class="inner-page">
    <div class="row">
      <div class="col-sm-12">
        <h3><i class="icon-star-empty"></i> Specials</h3>
      </div>
    </div>
    <div class="row">
      {% for item in specials %}
        <div class="col-sm-4">
          <div class="thumbnail color-4">
            {% include "partials/menuitem.html" with imgsize="320x200" special=True %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% include "partials/menulist.html" with items=categorized_items %}

{% endblock %}
