{% load mezzanine_tags static %}

<div class="row inner-page">
	<h2 class="page-headline">{{ about_page.title }}</h2>
	<div class="col-md-6 lazy-container">
	    {# <img class="lazy" src="{% static 'img/pixel.png' %}" data-original="{% static 'img/bagged-treats.jpg' %}" alt="Work sample" /> #}
	    <img class="lazy" src="{% static 'img/pixel.png' %}" data-original="{% get_media_prefix %}{{ about_page.featured_image }}" alt="Work sample" />
	</div>
	<div class="col-md-6 content">
	  {{ about_page.richtextpage.content|safe }}
	</div>
</div>