<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future %}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
<!--Import Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

<!--<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">-->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
<!-- <link href="{{ STATIC_URL }}css/the-story.min.css" rel="stylesheet" media="screen"> -->
{% block extra_css %}{% endblock %}
<link href="{{ STATIC_URL }}css/the-story.css" rel="stylesheet" media="screen">

<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/responsiveslides.css"> -->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
  }
</script>
<script src="{{ STATIC_URL }}js/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ STATIC_URL }}js/lazyload.js"></script>
<script src="{{ STATIC_URL }}js/jRespond.js"></script>
<script src="{{ STATIC_URL }}js/spin.js"></script>

</head>
<body id="{% block body_id %}body{% endblock %}">

<!-- Brand and Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="{% if not is_home %}/{% endif %}#">Bake my Day</a>


    </div>

    <div class="collapse navbar-collapse navbar-responsive-collapse">

{% if bmd_phone.0 %}
      <p class="phone text-right"><a href="tel:{{ bmd_phone.1 }}"><i class="icon-phone"></i> {{ bmd_phone.0 }}</a></p>
      {% endif %}

    
      {% page_menu "pages/menus/main-menu.html" %}
    </div> 
  </nav>

  <div class="container">

    {% nevercache %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" data-alert="alert">
      <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
    </div>
    {% endfor %}
    {% endnevercache %}

    {% block slides %}{% endblock %}

  </div>

  <div id="page-content">
    <div class="container">{% block title %}{% endblock %}</div>
    {% block main %}{% endblock %}
  </div>

  <footer class="page color-5">
    <div class="inner-page row">
      <div class="col-sm-6">
        <div class="social">
          {% if bmd_fb_url %}
            <a href="{{ bmd_fb_url }}"><i class="icon-facebook-sign"></i></a>
          {% endif %}
          {% if bmd_gp_url %}
            <a href="{{ bmd_gp_url }}"><i class="icon-google-plus-sign"></i></a>
          {% endif %}
          {% if bmd_tw_url %}
            <a href="{{ bmd_tw_url }}"><i class="icon-twitter"></i></a>
          {% endif %}
          {% if bmd_instagram_url %}
            <a href="{{ bmd_instagram_url }}"><i class="icon-instagram"></i></a>
          {% endif %}

        </div>
      </div>
      <div class="col-sm-6 text-right copyright">
        <p>&copy; {{ this_year }} Bake My Day | all rights reserved | Photographs by Elizabeth M. Gelineau | <a class="scroll" title="Got to top" href="#body">To top <i class="icon-caret-up"></i></a></p>
      </div>
    </div>
  </footer>

</div>

<!-- Minimize in production. -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
{# <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.js"></script> #}
{% compress js %}


<!-- Main js fail. -->
<script src="{{ STATIC_URL }}js/main.min.js"></script> 

<!--<script src="{{ STATIC_URL }}js/yesweareopen.js"></script>-->

<!-- footer scripts -->
{% include "includes/footer_scripts.html" %}
<!-- end footer scripts -->

<script>
$(function() {
  $('.middleinput:text, textarea').addClass('xlarge');
  $('.control-group label').addClass('control-label');
  // $('.rslides').responsiveSlides();
  var popover_opts = {placement:'top'};
  $(".foodmenu a[data-toggle=popover]")
    .popover(popover_opts)
    .click(function(e) {
        e.preventDefault()
    });
  // make forms work with bootstrap
  $('form input').addClass('form-control');
  $('form .helptext').addClass('help-block');
  $('form br').remove();
});
</script>

{% block extra_js %}{% endblock %}
{% endcompress %}
</body>
</html>

