{% load static thumbnail %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="{{ bmd_hp_carousel_ms}}">
  <ol class="carousel-indicators">
  {% for image in carousel_gallery.gallery.images.all %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
  {% endfor %}
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
  {% for image in carousel_gallery.gallery.images.all %}
    <div class="item{% if forloop.first %} active{% endif %}"><img src="{% get_media_prefix %}{{ image.file }}"  alt=""></div>
  {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
