<h3>Get in touch</h3>
<ul class="list-inline">
	{% if bmd_email %}
      <li><a href="mailto:{{ bmd_email }}"><i class="icon-envelope-alt"></i> {{ bmd_email }}</a></li>
    {% endif %}
	{% if bmd_phone.0 %}
      <li><a href="tel:{{ bmd_phone.1 }}"><i class="icon-phone"></i> {{ bmd_phone.0 }} (main)</a></li>
    {% endif %}
    {% if bmd_fax.0 %}
      <li><i class="icon-phone"></i> {{ bmd_fax.0 }} (fax)</li>
    {% endif %}
</ul>