{% load static thumbnail %}
<ul class="thumbnails clearfix">
  {% for image in teaser_gallery.gallery.images.all|slice:":6" %}
  <li class="col-sm-2 col-xs-6">
    <img src="{% get_media_prefix %}{{ image.file }}" alt="">
  </li>
  {% endfor %}
  {% comment %}
  <li class="col-sm-2 col-xs-6">
    <a href="{{ teaser_gallery.gallery.get_absolute_url }}" class="scroll btn btn-default pull-right" title="Check out more images!"><i class="icon-caret-right"></i> Gallery</a>
  </li>
  {% endcomment %}
</ul>