<h3>Our hours</h3>
<div class="hours" data-hours='{{ bmd_hours }}'>
	{% comment %}
	<span class="status open hide">Yes, we are open*</span>
	<span class="status closed hide">Sorry, we are closed*</span>
	<br>
	{% endcomment %}
	<span><strong>{{ bmd_hours_prose|safe }}</strong></span>
	{% comment %}
	<br>
	<span><small>*Open/closed status based on Central time zone</small></span>
	{% endcomment %}
</div>
<p>
	<small>Central Time Zone</small>
</p>