{% load staticfiles %}

<div class="btn-container centered lazy-container text-center">
	<img src="{% static 'img/pixel.png' %}" class="lazy figurette" alt="Open the map"  data-original="{% static 'img/map.png' %}"/>
	<a class="lightbox iframe btn-map" target="blank" title="Open google maps" href="https://maps.google.com/maps?q=Bake+My+Day,+Mobile,+AL&hl=en&ll=30.696715,-88.143568&spn=0.024835,0.043173&sll=30.701916,-88.088934&sspn=0.39734,0.690765&oq=bake+my&hq=Bake+My+Day,&hnear=Mobile,+Alabama&t=m&z=15">
  	<div>156 N McGregor Ave<br>Mobile, AL</div></a>
</div>
<p class="addy text-center hidden-lg hidden-md">
<a class="lightbox iframe" target="blank" title="Open google maps" href="https://maps.google.com/maps?q=Bake+My+Day,+Mobile,+AL&hl=en&ll=30.696715,-88.143568&spn=0.024835,0.043173&sll=30.701916,-88.088934&sspn=0.39734,0.690765&oq=bake+my&hq=Bake+My+Day,&hnear=Mobile,+Alabama&t=m&z=15">
156 N McGregor Ave Mobile, AL</a>
</p>
