{% load thumbnail %}
<ul class="media-list menu">
	{% for item in featured_items|slice:num_home_features %}
		<li class="media">
			{% if item.image %}
			<!--<img src="{{ item.image_absolute_url }}" alt="">-->
			<a class="pull-left" href="menu/#{{ item.category.id }}"><img class="media-object" src="{% thumbnail item.image 64x64 crop %}" alt=""></a>
			{% endif %}
			<div class="media-body">
				<h4 class="media-heading"><a href="menu/#{{ item.category.id }}">{{ item.category.name }}</a></h4>
			</div>
		</li>
	{% endfor %}
</ul>