{% load mezzanine_tags %}

{% for post in posts %}
<div class="col-sm-5 media">
	{% url 'blog_post_detail' post.slug as url%}
  <a href="{{ url }}" class="pull-left">
  	{% if settings.BLOG_USE_FEATURED_IMAGE and post.featured_image %}
	{% block blog_post_list_post_featured_image %}
	<img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail post.featured_image 90 90 %}">
	{% endblock %}
	{% endif %}
  </a>
  <div class="media-body">
  	<h3 class="media-heading">{{ post.title }}</h3>
  	{{ post.description|safe|truncatewords:30 }}
  	<a href="{{ url }}">more...</a>
  </div>
</div>
{% endfor %}

<div class="col-sm-2">
  <a href="/blog" class="scroll btn btn-default more-news-btn pull-right" title="Check out more stories!"><i class="icon-caret-right"></i> More News</a>
</div>