{% load mezzanine_tags thumbnail %}
<ul class="features list-inline">
	{% for item in specials %}
	<li>
		{% include "partials/menuitem.html" with imgsize="320x200" special=True %}
	</li>
	{% endfor %}
</ul>