{% load mezzanine_tags staticfiles %}
<div class="col-sm-6 lazy-container">
  <img class="pull-left lazy" src="{% static 'img/pixel.png' %}" data-original="{% static 'img/cookies2.png' %}" alt="A cookie" />
  <h4>Jane Doe</h4>
  <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
  <ul>
    <li><i class="icon-home"></i> <a href="prettystrap.com">http://prettystrap.com</a></li>
    <li><i class="icon-envelope-alt"></i> <a href="info@email.com">info@email.com</a></li>
    <li class="social">
      <a href="#about"><i class="icon-facebook-sign"></i></a>
      <a href="#about"><i class="icon-twitter"></i></a>
      <a href="#about"><i class="icon-github-sign"></i></a>
    </li>
  </ul>
</div>
<div class="col-sm-6 team2 lazy-container">
  <img class="pull-left lazy" src="{% static 'img/pixel.png' %}" data-original="{% static 'img/cookies.png' %}" alt="A cookie" />
  <h4>John Doe</h4>
  <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
  <ul>
    <li><i class="icon-home"></i> <a href="prettystrap.com">http://prettystrap.com</a></li>
    <li><i class="icon-envelope-alt"></i> <a href="info@email.com">info@email.com</a></li>
    <li class="social">
      <a href="#about"><i class="icon-facebook-sign"></i></a>
      <a href="#about"><i class="icon-twitter"></i></a>
      <a href="#about"><i class="icon-github-sign"></i></a>
    </li>
  </ul>
</div>