/*
 *  The Story
 *  Twitter Bootstrap Template
 *
 *  ALL RIGHTS RESERVED.
 *  prettystrap.com
 *
 */

// Bootstrap v2.3.2
// @import "bootstrap.less";
// @import "bootstrap/responsive.less";

// Importing font-awesome 3.11

// @import "font-awesome/font-awesome.less";




.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}

// Importing The Story

@import "pages.less"; // The layout, page colors, and Individual page hacks.

@import "navigation.less"; // The navigation. Colors, layout and animation

@import "ui.less"; // User interface. Buttons, Lists, Inputs, etc.

@import "buttons.less";

@import "typography.less"; // Font sizes and colors.

@import "responsive.less"; // Desktop, Tablet and Mobile views

@import "lightbox.less"; // Desktop, Tablet and Mobile views
  

/* Global */
/* -------------------------------------------------- */

body {
  font-family: @sansFontFamily;
  font-weight: 300;
}

body, textarea:focus, input:focus{
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove horizontal scrollbar */

html {
  overflow-x: hidden;
}

/* Selection color */

::selection {
  background: @color-7;
  color: #ffffff; 
}

::-moz-selection {
  background: @color-7;
  color: #ffffff;
}



/* Useful classes */


.centered {
  margin: 0 auto;
  display:block;
}

.border {
  border: 1px solid @border-color;
}

.thumbnails .row {
  margin-bottom: 30px;
}

h1.logo {
  padding: 0;
  margin: 0;
  a {
    display: block;
    background: url(/static/Kickstrap/themes/the_story/img/BMD-logo-WEB.png) no-repeat left top;
    width: 340px;
    height: 65px;
    text-indent: -9999px;
    margin: 4px 0 0 10px;
  }
}

.navbar {
  .nav {
    margin-top: 31px;
  }
  height: 71px;
}

.thumbnail {
  border: none;
  h4 {
    margin: 10px 0;
  }
  .box-shadow(none);
}

// need to make this more specific than the rules in editable.css
#body #editable-toolbar {
  z-index: 2000 !important;
  // right: 0;
  // left: auto;
}

ul.errorlist li {
  color: Red;
}

// don't need modal activation buttons in the modal!
// see menu/templates/partials/menuitem.html 
.modal-body a[data-toggle="modal"] {
  display: none;
}

// ADMIN
.editable-highlight {
  border: 2px solid Blue !important;
}

.editable-form {
  position: absolute !important;
  top: 20px;
  left: 20px;
}

@media (max-width: 979px) { 
  h1.logo {
    width: 280px;
    height: 41px;
    background-size: 280px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .navbar {
    height: auto;
    // .nav {
    //   margin-top: 0;
    // }
  }
  .navbar .nav > li > a {
    padding: 8px 10px;
  }
}

@media (max-width: 768px) {
  #home {
    margin-top: 68px;
  }
}