// -------------------------
// Variables
// -------------------------

// Colors

@color-1: #70CFC2;

@color-2: #B8E7DD;

@color-3: #F6FCFF;

@color-4: #fff;

@color-5: #333;

@color-6: #DB1537;

@color-7: #000;
 
// UI Colors

@link-color-dark: @color-6;


@navbar-color:  rgba(0,0,0, 0.85); // Navigation bar color.

@navbar-responsive: #181818;

@border-color:  @color-2;

@sansFontFamily:   Source Sans Pro,  Helvetica, Arial, sans-serif;

@baseFontSize:          17px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        25px;

// Twitter Bootstrap Variables
// -------------------------

@hrBorder:   lighten(@color-6, 40%);

@baseBorderRadius:      0;
@borderRadiusLarge:     0;
@borderRadiusSmall:     0;

// Scaffolding
// -------------------------
@bodyBackground:        #fff;
@textColor:             @grayDark;


@gridGutterWidth: 0px;

@gridGutterWidth1200:0px;

@gridGutterWidth768: 0px;

// Links
// -------------------------
@linkColor:             #fff;
@linkColorHover:        darken(@linkColor, 15%);

// Buttons
// -------------------------
@btnBackground:                    @color-6;
@btnBackgroundHighlight:           darken(@btnBackground, 10%);
@btn-hover:                        darken(@btnBackground, 10%); 


// Navbar
// -------------------------

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       @color-1;
@navbarBackground:                #fff;
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #FFF;
@navbarLinkColor:                 #FFF;
@navbarLinkColorHover:            @color-7;
@navbarLinkColorActive:           @color-7;
@navbarLinkBackgroundHover:       @color-1;
@navbarLinkBackgroundActive:      @color-1;

@navbarCollapseWidth:             768px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;


// Typography

@sansFontFamily:        Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
@baseFontSize:          17px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        24px;
